body {
	background-image: url('../bilder/bakgrund.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
nav ul li {
	display: inline;
	padding: 15px;
}
.varukorg {
	width: 40px;
}
.ledare {
	float: right;
	width: 250px;
	height: 250px;
	margin-top: 10px;
}
.figure1 {
	float: right;
	font-weight: bold;
}
aside img {
	width: 75%;
	border: 2px solid #6C513F;
	margin: 2px;
}
.cta {
	width: 100%;
	height: 240px;
	border: 2px solid #6C513F;
	margin-top: 100px;
	margin-left: 3%;
}
.streck {
	padding: 10px;

}
article img {
	border: 2px solid #6C513F;
}
nav {
	background-color: #6C513F;
}
nav ul {
	margin: 5px;
	padding: 5px 0;
}
nav ul li a {
	color: white;
}
nav ul li a:hover {
	color: #EEE4D0;
}
.ram1 {
	background-color:  #EEE4D0;
	opacity: 0.9;
}
p {
	text-align: left;
	font-family: "Open Sans Condensed", Georgia, Lucida;
}

h1, h2{
	font-size: 28px;
	font: bold;
	font-family: "Open Sans Condensed", Georgia, Lucida;
	font-weight: bold;
	text-shadow: 4px 5px 3px #666;
}
h1:hover {
	color: pink;
}
h2:hover {
	color: pink;
}
.boka {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	background-size: 50px;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 100%;
	margin-left: 3%;
}
.redskap {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 100%;
	margin-left: 3%;
}
.recept {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 100%;
	margin-left: 3%;
}
.rehab {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 75%
}
.balans {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 75%
}
.mamma {
	position: relative;
	top: -110px;
	text-align: center;
	font-size: medium;
	color: white;
	background-color: #6C513F;
	border: 1px solid #453E41;
	font-family: sans-serif;
	width: 75%
}
aside p a {
	color: white;

}
aside p a:hover {
	color: #EEE4D0;
}
figure p a {
	color: white;
}
figure p a:hover {
	color: #EEE4D0;
}
.nyhetsbrev {
	margin-top: 10px;
	float: left;
}
.mammabarn {
	width: 100%;
	margin-left: 1%;
	margin-top: 1%
}
.knapp {
	margin-top: 10px;
	background-color: #4BAFFA;
	border: 2px solid grey;
	color: white;
	float: right;
	font-weight: bold;
	padding: 5px 2px;
	margin-bottom: 10px;
	width: 300px;
	height: 50px;
}
.knapp1 {
	margin-top: 10px;
	background-color: #4BAFFA;
	border: 2px solid grey;
	color: white;
	float: right;
	font-weight: bold;
	padding: 5px 2px;
	margin-bottom: 10px;
	width: 100px;
	text-align: center;
}
input[type="submit"] {
	margin-top: 10px;
	background-color: #4BAFFA;
	border: 2px solid grey;
	color: white;
	float: none;
	font-weight: bold;
}
input[type="search"] {
	float: right;
	margin-top: 180px;
}
input[type="image"] {
	float: right;
	margin-top: 180px;
}
footer {
	border-top: 1px solid #453E41;
}
.footer {
	border-right: 1px solid #453E41;
}
.varukorgbild {
	width: 150px;
	height: 150px;
}
.tabort {
	width: 25px;
	height: 25px;
}
th, td {
	
	text-transform: uppercase;
	border-bottom: solid lightgrey;
}
fieldset {
	text-transform: uppercase;
	border-bottom: solid lightgrey;
	margin-left: 10px;	
	display: block;	
}
table {
	border: 1px solid lightgrey;
}
article {
	border-right: 1px solid #6C513F;
	padding: 10px;
}


